<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_nTvgjl4tU6PUOXJ3gWFgRLz3uFg5ii8</string>
	<key>GCM_SENDER_ID</key>
	<string>317717748016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobizz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>resturant-booking-6a5e5</string>
	<key>STORAGE_BUCKET</key>
	<string>resturant-booking-6a5e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317717748016:ios:ffaf262752495c689050f5</string>
</dict>
</plist>